/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #000;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000 !important;
}

.navbar {
    z-index: 1000 !important;
}

.navbar-brand {
    font-size: 1.75rem;
    letter-spacing: 3px;
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
}

.navbar-toggler {
    border: none;
    color: #fff !important;
    padding: 0.25rem 0.75rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.625em;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mask {
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: #fff;
}

.fa-shopping-cart,
.fa-twitter,
.fa-instagram {
    font-size: 1.2rem;
}
